.smk-tweets {
	li {
		border: 1px solid rgba(255, 255, 255, .5) !important;
		font-size: .8em;
		margin-bottom: 15px !important;
        color: $dark-background-text-color;
		
		p {
			padding: 15px 15px 0 15px !important;
			font-size: .88em;
			line-height: 1.66em !important;
		}
		
		p.smk-twitter-actions {
			padding: 0 15px 5px 15px !important;
		}
		
		a,
		a:hover,
		a:active {
			color: $primary-light-color;
			text-decoration: none;
			font-size: 1em;
		}
		a:hover {
			text-decoration: underline;
		}
	}
}

.tweet_more {
	background: url("../images/pictos/twitter.svg") no-repeat left center;
	background-size: 24px;
	padding-left: 30px;
	float: right !important;
	padding-top: 0 !important;
	text-decoration: none !important;
	
	a {
		text-decoration: none !important;
		text-transform: uppercase;
		color: $primary-light-color !important;
		
		&:hover {
			text-decoration: underline !important;
		}
	}
}