/* FONT EC SQUARE */
@font-face {
  font-family: 'ECSquareSansProRegular';
  src: url('fonts/ecsquaresanspro-regular-web.eot');
  src: url('fonts/ecsquaresanspro-regular-web.eot?#iefix') format('embedded-opentype'),
  url('fonts/ecsquaresanspro-regular-web.woff') format('woff'),
  url('fonts/ecsquaresanspro-regular-web.ttf') format('truetype'),
  url('fonts/ecsquaresanspro-regular-web.svg#ECSquareSansProRegular') format('svg');
}

@font-face {
  font-family: 'ECSquareSansProBold';
  src: url('fonts/ecsquaresanspro-bold-web.eot');
  src: url('fonts/ecsquaresanspro-bold-web.eot?#iefix') format('embedded-opentype'),
  url('fonts/ecsquaresanspro-bold-web.woff') format('woff'),
  url('fonts/ecsquaresanspro-bold-web.ttf') format('truetype'),
  url('fonts/ecsquaresanspro-bold-web.svg#ECSquareSansProRegular') format('svg');
}
