aside {
	padding: 0;
	
	.sidebar-wrapper {
		background: rgba(255, 255, 255, .7);
		padding: 15px;
		margin-top: 30px;
    margin-right: -15px;
	
		& > div {
			margin-bottom: 30px;
		}
		
    h2 {
      font-size: 1em;
      color: $text-color;
      padding: 10px 0;
      margin-bottom: 20px;
      margin-top: 0 !important;
      border-bottom: 1px solid $text-color-light;
    }
    
    h1 {
      font-size: 1em !important;
      
      a {
        color: #333;
      }
    }
    
    .button {
      width: 100%;
      text-align: center;
      margin-top: 15px;
    }
		
    /* SHARE */
		#block-bean-share-on-facebook-and-twitter {
			display: inline-block;
			width: 100%;
			border-bottom: 1px solid #d3d3d3;
					
			h2 {
				display: inline-block;
				float: left;
				width: 20%;
				border-bottom: none;
			}
			
			.content {
				display: inline-block;
				float: left;
				width: 80%;
				
				.wtWidgets {
					margin: 0;
					padding: 0;
				}
			}
		}
       
    /* AT A GLANCE */
    #block-views-highlights-block-1 {
      .content {
        position: relative;
        
        img {
          width: 100%;
          height: auto;
          margin: 0 !important;
          display: block;
        }
      
        h1 {
          position: absolute;
          bottom: 0;
          background: rgba(0, 0, 0, .5);
          z-index: 9;
          font-size: 1em !important;
          width: 100%;
          height: 100%;
          margin: 0 !important;
          
          a {
            font-size: 1.333em !important;
            color: #fff;
            position: absolute;
            bottom: 15px;
            left: 15px;
          }
        }
      }
    }
	}
}





/* CONTEXTUAL SIDEBAR */
.page-media,
.page-culture {
  aside h2 {
    border-bottom: 1px solid $text-color-light;
    padding-left: 45px;
    position: relative;
    padding-bottom: 0.263em;
    
    &::before {
      content: url('../images/pictos/inspiration.svg');
      opacity: .5;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 65px;
    }
  }
}




/* Item list: picture, title and abstract */
.aside-list-item {
  margin-bottom: 15px;
  border-bottom: 1px dashed #eaeaea;
  padding-bottom: 15px;
  
  &:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .img-container {
    padding-right: 0;
    height: 80px;
    overflow: hidden;
    
    img {
      width: 100%;
      height: 80px;
      object-fit: cover;
    }
    
    a {
      display: block;
    }
  }
  
  .content-container {
  
    h3 {
      margin-top:0 !important;
      margin-bottom:0 !important;
      font-size: 1em !important;
    }
    
    p {
      color: $text-color;
    }
  }
}





/* FIND OUT MORE */
aside.find-more--wrapper {
  background: #F6F6F6;
  padding: 60px 0 30px;
  
  h2 {
    margin-top: 0 !important;
    
    &::before {
      content: url('../images/pictos/more.svg');
      height: 50px;
    }

  }
    

  ul {
    margin-left: 15px;
    
    li {
      margin-bottom: 30px;
      list-style: square;
      color: $primary-light-color;
           
    }
  
  }   
   
}





/* Small resolution : Min breakpoint - 768px */
@include breakpoint(sm-min){
  
  /* FIND OUT MORE */
  aside.find-more--wrapper {
      
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      li {
        flex-basis: calc(33.333% - 30px);
      }
    
    }   
     
  }
}