header.main-banner {
  padding-top: 60px !important;
  text-align:left;
  padding: 0;
  background:
  linear-gradient(
                  rgba(0, 0, 0, 0.8),
                  rgba(0, 0, 0, 0.4)
  ),
  url('../images/headers/homepage-1920.jpg') center;
  background-size: cover;
  margin: 0;
  
  video {
    width: 100%;
    margin-top: 30px;
    
    @include box-shadow(0 0 30px $primary-deep-dark-color);
  }
}

header.main-banner h1 {
  color: #fff;
  margin: 0 !important;
  margin-top: 0.47133em !important;
}

header.main-banner h2 {
  font-family: $font-stack;
  text-transform: initial;
  font-size: 1em;
  color: #fff;
  margin-top: (1.414em / 3) !important;
  margin-bottom: 1.414em !important;
}

header hgroup {
	margin-top: 30px;
	
  p {
    font-size: 1em !important;
    color: #fff;
  }
  
	img {
		border: 1px solid #fff;
		padding: 10px;
	}
}




header.about-header {
  background:
  linear-gradient(
                  rgba(0, 0, 0, 0.8),
                  rgba(0, 0, 0, 0.4)
  ),
  url('../images/headers/about-1920.jpg');
  background-size: cover;
}
.page-about {
	.content-wrapper {
    padding-bottom: 30px;
    
		h3 {
			text-align: left;
			
			&:after {
				right: auto;
			}
		}
	}
}




header.culture-header {
  background:
  linear-gradient(
                  rgba(0, 0, 0, 0.2),
                  rgba(0, 0, 0, 0.4)
  ),
  url('../images/headers/culture-overview-1920.jpg');
  background-size: cover;
}

header.contact-header {
  background:
  linear-gradient(
                  rgba(0, 0, 0, 0.2),
                  rgba(0, 0, 0, 0.4)
  ),
  url('../images/headers/contact-1920.jpg');
  background-size: cover;
	
}

header.search-header {
  background:
  linear-gradient(
                  rgba(0, 0, 0, 0.2),
                  rgba(0, 0, 0, 0.4)
  ),
  url('../images/headers/search-1920.jpg');
  background-size: cover;
	
}



header.media-header {
  background:
  linear-gradient(
                  rgba(0, 0, 0, 0.2),
                  rgba(0, 0, 0, 0.4)
  ),
  url('../images/headers/media-overview-1920.jpg');
  background-size: cover;
}




header.cross-sector-header {
  background:
  linear-gradient(
                  rgba(0, 0, 0, 0.2),
                  rgba(0, 0, 0, 0.4)
  ),
  url('../images/headers/cross-sector-overview-1920.jpg');
  background-size: cover;
}





header.actions-header {
  background:
  linear-gradient(
                  rgba(0, 0, 0, 0),
                  rgba(0, 0, 0, 0.6)
  ),
  url('../images/headers/actions-overview-1920.jpg');
  background-size: cover;
}





.ehl header {
  position: relative;
  background:
  linear-gradient(
                  rgba(0, 0, 0, 0),
                  rgba(0, 0, 0, 0.6)
  ),
  url('../images/headers/ehl-1920.jpg');
  background-size: cover;
  height: 420px;
  
  .logo--mini-site {
    border-top: 4px solid rgba(255, 255, 255, .5);
    border-bottom: 4px solid rgba(255, 255, 255, .5);
    padding-top:20px;
    padding-bottom:20px;
    margin-top:20px;
    height: 240px;
    text-align: center;
    
    img {
      height:192px;
    }
  }
  
  .baseline--mini-site {
    padding-top:20px;
    padding-bottom:20px;
    height: 240px;
    border-top: 4px solid rgba(255, 255, 255, .5);
    border-bottom: 4px solid rgba(255, 255, 255, .5);
    margin-top:20px;
    
    h2 {
      color: #fff;
      text-transform: uppercase;
      font-family: $font-stack;
      font-size: 4em;
      margin-top: 0 !important;
      line-height: 1em;
    }
    
  }
  
}





/* Small resolution : Small devices - Min breakpoint -768px */
@include breakpoint(sm-min){
  header.main-banner h2 {
    font-size: 1.333em;
  }
  
  header.main-banner {
    
    hgroup {
      p {
        font-size: 1.333em !important;
      }
    }
  }
}





/* Medium resolution : Medium devices - Min breakpoint -992px */
@include breakpoint(md-min){
  header.main-banner {
    padding-top: 0 !important;
    height: auto;
    min-height: 520px;
    
    video {
      margin-top: 140px;
    }
  }
    
  header hgroup {
    margin-top: 90px;
  }
}