.actions-box--wrapper {
  background: #F6F6F6;
  padding: 0;
  padding-bottom: 30px;
  
  .row {
    display: flex;
    flex-wrap: wrap;
    
    article {
      display: flex;
      margin-bottom: 30px;
    }
    
    .button-more-section--wrapper {
      width: 100%;
      display: inline-block;
      
      .button {
        width: calc(100% - 30px);
      }
    
    }

  }

}

/* Large resolution */
@include breakpoint(sm-min){
  .actions-box--wrapper {
    padding-bottom: 30px;
    
    .row {
    
      .button-more-section--wrapper {
        width: auto;
        
        .button {
          width: auto;
        }
      
      }
      
    }
  }
}