header.culture-header {
  padding: 0;
  background:
  linear-gradient(
                  rgba(0, 0, 0, 0.2),
                  rgba(0, 0, 0, 0.4)
  ),
  url('../images/headers/culture-overview-1920.jpg');
  background-size: cover;
}