.updates-header {
	background: transparent !important;
	height: auto !important;
	margin-bottom: 30px !important;
}

/* Page last updates */
.updates-container {
  
  .sidebar-wrapper {
    margin-top: 0;
  }

  article {
    color: #fff;
    position: relative;
    overflow: hidden;
    
    .update-category {
      text-transform: uppercase;
      font-family: $font-stack-bold;
      background: $primary-color;
      padding: 6px 20px;
      font-size: .85em;
      margin-bottom: 10px;
      display: inline-block;
    }
    
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    
    .dark-filter-background {
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, .5);
      width: calc(100% - 30px);
      height: 100%;
      margin: 0 15px;
    }
    
    h1 {
      margin: 0 !important;
      
      a {
        color: #fff;
      }
    }
    
    p {
      margin-bottom: 0 !important;
    }
    
    p.date-published + p {
      margin-top: 15px;
    }
    
    .update-highlight--content {
      position: absolute;
      left: 45px;
      bottom: 30px;
    }
    
    &.update-highlight--big {
      height: 520px;
      margin-bottom: 5px;
      
      h1 {
        font-size: 2.369em !important;
      }
      
      .update-highlight--content {
        padding:15px;
        padding-top: 30px;
        background: rgba(0, 0, 0, 0.5);
      }
      
      .update-category {
        position: absolute;
        left: 15px;
        top: -15px;
      }
            
      .update-highlight--content {
        max-width: calc(50% - 30px );
      }
    }
    
    &.update-highlight--medium {
      padding-right: 0;
      padding-right: 5px;
      height: 340px;
      
      h1 {
        font-size: 1.333em !important;
      }
      
      .update-highlight--content {
        padding:15px;
        padding-top: 30px;
        background: rgba(0, 0, 0, 0.5);
        max-width: calc(100% - 90px);
      }
      
      .update-category {
        position: absolute;
        left: 15px;
        top: -15px;
      }
      
    }
    
    &.update-highlight--small {
      padding-left: 0;
      margin-bottom: 5px;
      height: calc(340px / 2 - 5px / 2);
      
      .update-highlight--content {
        padding: 15px;
        left: 0;
        bottom: 0;
        width: calc( 100% - 15px);
      }
      
      h1 {
        font-size: 1.333em !important;
      }			
      
      .dark-filter-background {
        width: calc(100% - 15px);
        margin: 0;
      }
      
      
    }
    
  }

}




/* PAGE NEWS / PAGE EVENTS */
.page-news,
.page-events,
.page-calls {
  background: #fff;
  
  .row > h1 {
    width: 100%;
    margin-top: 0 !important;
  }
}

.update-highlight--wrapper {

  article.update-highlight--list {
    height: auto;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-top: 15px;
    
   &:nth-of-type(-n+3) {
      padding-top: 0;
    }
    
    &:nth-child(3n+1) {
      clear: both;
    }
    
    &:nth-child(3n) {
      border-right: none;
    }
       
    .update-highlight--list--img {
      position: relative;
      padding: 0;
      padding-top: 0;
      padding-bottom: 0;
      height: 180px;
      
      .update-category {
        position: absolute;
        left: 0;
        top: 15px;
        color: #fff;
        padding-top:5px;
        padding-bottom: 5px;
      }

    }
    
    .update-highlight--list--content {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 15px;
      
      .date-published,
      .date-display-range {
        display: inline;
      }
      
      h1 {
        font-size: 1em !important;
        margin-top: 15px !important;
        margin-bottom: 4px !important;
        
        a {
          color: #333;
        }
        
      }
      
      p,
      .date-display-range {
        color: #888;
        margin: 4px 0 !important;
      }
      
    }
    
  }
  
}

.page-news-events-calls {
  background: #fff;
  
  article.update-highlight--list {
    border: none;
    padding-top: 0;
    
    &:nth-child(3n+1) {
      clear: none;
    }
    
    .update-highlight--list--img {
      height: 120px;
    }
          
  }
    
}

.page-calls {
  article.update-highlight--list {
  
    .update-highlight--list--content p {
      margin: 8px 0 !important;
    }
  
  }
  
}




/* UPDATE CONTENT PAGES */
.update-category {
  text-transform: uppercase;
  font-family: "ECSquareSansProBold", Verdana, Geneva, sans-serif;
  background: #7c69cc;
  padding: 6px 20px;
  font-size: .85em;
  margin-bottom: 10px;
  display: inline-block;
  position: absolute;
  left: 15px;
  top: -15px;
  color: #fff;
}
.update--info {
  margin-bottom: 1.3em;
  
  li {
    display: inline-block;
    color: $text-color;
    
    &.update--inline-cat {
      display: block;
      margin-top: 8px;
      
      span:first-child{
        margin:0;
      }
    }
    
    span {
      margin-left: 1.3em;
    }
    
    &:first-child span {
      margin-left: 0;
    }
  }
}

.update-abstract {
  margin-bottom: 1.3em;
}

.update-banner-wrapper {
  margin-bottom: 1.3em;
  height: 420px;
}

.node-type-news h1,
.node-type-events h1 {
  line-height: normal;
}

.update-find-out {
  
  ul {
  list-style: square;
  }
  
  li {
    color: $primary-color;
    margin: 8px 0;
  }

}

